<div class="row">

  <div class="col-md-4">
   <table class="table table-striped">
     <thead>
       <th>Members:</th>
       <th></th>
     </thead>
     <tbody>
        <% @team.accepted_members.each do |member| %>
            <tr>
              <td><%= link_to member.username, member %></td>
              <% if member.is_leader_of(@team) %>
                <td>(Leader)</td>
              <% end %>
              <% if current_user and current_user.is_leader_of(@team) %>
                  <td><%= link_to('Kick', member.memberships.where(team_id: @team.id).first, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger") unless member.is_leader_of(@team) %></td>
              <% end %>
            </tr>
        <% end %>
     </tbody>
   </table> 
  </div>

  <% if current_user and current_user.is_member_of(@team) %>
    <div class="col-md-4">
     <table class="table table-striped">
       <thead>
         <th>Invited:</th>
         <th></th>
       </thead>
       <tbody>
          <% if @team.invited_members.blank? %>
            <tr><td>No pending invitations</td></tr>
          <% else %>
            <% @team.invited_members.each do |member| %>
              <tr>
                <td><%= link_to member.username, member %></td>
                <td><%= link_to('Cancel invitation', member.invitations.select{ |i| i.team_id == @team.id}.first, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger") if current_user.is_leader_of(@team) %><td>
              </tr>
            <% end %>
          <% end %>

       </tbody>
     </table> 
    </div>
  <% end %>
  
</div>
