<div class="row">
  <div class="col-md-2">
  <h1><%= @champion.name %></h1>
    <table class="table table-striped">
      <tr>
        <td><strong>Game:</strong></td>
        <td><%= @champion.game.name %></td>
      </tr>

      <tr>
        <td><strong>Info:</strong></td>
        <td><%= link_to @champion.name, @champion.wiki_link %></td>
      </tr>

    </table>
   </div>
</div>

<% if current_user %>
    <%= render 'champion_rating_form' %>
<% end %>